.form-body {
    margin-top: 80px;
    max-width: 480px!important;
    width: 100%;
    border: 1px solid #777777;
    border-radius: 3px;
    padding: 60px 20px;
    box-shadow: 8px 8px 10px 2px rgba(34, 60, 80, 0.2);
    color: #666666;
}
.form-body__title {
    text-align: left;
    margin-bottom: 36px;
    color: #888888;
}
.form-body__text {
    text-align: left;
}
.form-body__label {
    font-size: 20px;
    font-weight: 500;
    width: 100%;
    text-align: left;
    margin-bottom: 16px;
}
.form-body__input {
    border-color: #777777;
    color: #333333;
    margin-bottom: 16px;
}
.form-body__input:focus {
    border-color: #1d3557ff;
    outline: none;
    box-shadow: none;
}
.form-body__submit-btn {
    
    background-color: #1d3557ff;
    color: #fff;
    border-color: #1d3557ff;
    width: 120px;
    margin-left: auto;
}
.form-body__submit-btn:hover {
    background-color: #fff;
    color: #1d3557ff;
    border-color: #1d3557ff;
}
.form-body__submit-btn:focus {
    box-shadow: none;
    outline: none;
}
.button-row {
    width: 100%;
}
/* .form-body__create-link {
    text-align: left;
    color: #1d3557ff;
    text-decoration: none;
    margin-bottom: 24px;
    font-weight: 500;
} */
/* .form-body__create-link:hover {
    text-decoration: underline;
    color: #1d3557ff;
} */