.navigation-menu {
    border: 1px solid #777777;
    box-shadow: 8px 8px 10px 2px rgba(34, 60, 80, 0.2);
    margin: 0 auto;
    margin-bottom: 24px;
    margin-top: 16px;
    padding: 8px 16px;
    border-radius: 4px;
    max-width: 992px;
}
.navigation-menu__link {
    margin-right: 16px;
}
.link__button {
    padding: 8px 16px;
    border: 1px solid #1d3557ff;
    background-color: #fff;
    color: #1d3557ff;
    font-weight: 500;
}
.link__button:hover {
    background-color: #1d3557ff;
    color: #fff;
    border: 1px solid #1d3557ff;
}
.link__button:visited {
    border: 1px solid #1d3557ff;
    background-color: #fff;
    color: #1d3557ff;
}
.link__button:focus {
    border: 1px solid #1d3557ff;
    background-color: #fff;
    color: #1d3557ff;
    box-shadow: none;
}