.booking-wrapper {
    background-color: #fff;
    border: 1px solid #1d3557ff;
    border-radius: 3px;
    box-shadow: 4px 4px 4px 0px rgba(34, 60, 80, 0.2);
    min-height: 400px;
    max-width: 992px;
    margin: 0 auto;
    padding: 60px;
    margin-top: 40px;
}
.booking-pre-button {
    text-decoration: none;
    font-size: 32px;
    color: #1d3557ff;
    border: 1px solid #1d3557ff;
    padding: 16px;
    border-radius: 4px;
    font-weight: 500;
}
.booking-pre-button:hover {
    color: #fff;
    background-color: #1d3557ff;
}
.form-check {
    max-width: 200px;
    border: 1px solid #1d3557ff;
    padding: 16px;
    padding-left: 48px;
    border-radius: 8px;
    min-width: 120px;
    text-align: left;
}
.form-check-label {
    width: fit-content;
}
.form__day {

    margin-bottom: 40px;
}
@media (max-width: 767px) {
    .booking-wrapper {
        padding: 10px;
    }
    .form-check {
        padding-left: 36px;
        min-width: 100px;
    }
}
.form__room {
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
}
.form-room-title {
    margin-bottom: 24px;

}

.form__day {
    display: flex;
    flex-wrap: wrap;
}


/* schedule card */
.form__time {
    margin-bottom: 24px;
}
.schedule-card {
    margin-bottom: 24px;
}
.card-content__title {
    text-transform: capitalize;
    font-size: 24px;
}
.info__time {
    margin-right: 32px;
}

.btn:disabled {
    color: #222222;
    background-color: lightgray;
    border-color: #222222;
}
.btn {
    color: #1d3557ff;
    border: 1px solid #1d3557ff;
    background-color: #fff;
    margin-right: 8px;
}
.btn:hover {
    color: #fff;
    border: 1px solid #1d3557ff;
    background-color: #1d3557ff;
}

/* order success */

.order-succes-reservations-title {
    margin-top: 36px;
}
.order-success-reservations-list {
    width: fit-content;
    margin: 0 auto;
    margin-top: 30px;
    padding: 0;
}
.list-single-item {
    width: 100%;
    padding: 0;
    margin-bottom: 8px;   
}

.list-data {
    margin-right: 20px;
}
.list-checkbox {
    margin-right: 8px;
}
.single-room-card {
    width: 33%;
    min-height: 150px;
}
@media(max-width: 575px) {
    .single-room-card {
        width: 50%;
    }
}
.single-day-card {
    width: 33%;
    min-height: 150px;
}
@media(max-width: 575px) {
    .single-day-card {
        width: 50%;
    }
}
.single-day-card span {
    text-transform: capitalize;
}

/* check order page */

.check-order__information {
    margin-bottom: 24px;
}
.info-line__title {
    font-size: 18px;
    font-weight: 700;
}
.info-line__value {
    font-size: 18px;
    margin-bottom: 8px;
}